<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117842271-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117842271-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N2HFHR6');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Hashtag Language</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <LINK REL="icon" HREF="../assets/favicon.ico" type="image/x-icon">
    <LINK REL="shortcut" HREF="../assets/favicon.ico" type="image/x-icon">

  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2HFHR6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="main-column">

      <%# First Slide %>
      <div class="row row1">
        <div class="front_page_content">
          <div class="row1_header">
            <img src="../assets/Icon.png" alt="">
          </div>
          <div class="row1_top">
            <p class="title-vertical">Practice your second <br> language with locals <br> in your city!</p>
            <p class="title-horizontal">Practice your second language  <br> with locals in your city!</p>
          </div>
          <div class="row1_middle">
            <p class="subtitle-vertical">Get FREE membership for a year <br> if you sign up now!</p>
            <p class="subtitle-horizontal">Get FREE membership for a year if you sign up now!</p>
          </div>
          <div class="row1_bottom">
            <button>
              <a href="https://hashtaglanguage.typeform.com/to/n4QlYc" id="first_link">Sign me up!</a>
            </button>
          </div>
        </div>
      </div>

      <%# Second Slide %>
      <div class="row row2">

          <%# Bottom Content %>
          <div class="bottom">

            <div class="col col1">
              <div class="MLW_col_top">
                <img src="../assets/worldwide.png" alt="">
              </div>
              <div class="line1">
                <p class="title-vertical">Make friends from <br>around the world</p>
                <p class="title-horizontal">Make friends from <br>around the world</p>
              </div>
              <div class="line2">
                <p class="subtitle-vertical">Get connected online and offline with locals in our community that speak your target language!</p>
                <p class="subtitle-horizontal">Get connected online and <br>offline with locals in our <br>community that speak your <br>target language!</p>
              </div>
            </div>

            <div class="col col2">
              <div class="MLW_col_top">
                <img src="../assets/Team.png" alt="">
              </div>
              <div class="line1">
                <p class="title-vertical">Share Culture and Experiences</p>
                <p class="title-horizontal">Share Culture <br>and Experiences</p>
              </div>
              <div class="line2">
                <p class="subtitle-vertical">Learn your second language by using it with fluent or native speakers from 20+ different countries.</p>
                <p class="subtitle-horizontal">Learn your second language by <br>using it with fluent or native <br>speakers from 20+ different <br>countries.</p>
              </div>
            </div>
            <div class="col col3">
              <div class="MLW_col_top">
                <img src="../assets/Cheers.png" alt="">
              </div>
              <div class="line1">
                <p class="title-vertical">Practice Outside The Classroom</p>
                <p class="title-horizontal">Practice Outside <br>The Classroom</p>
              </div>
              <div class="line2">
                <p class="subtitle-vertical">Meet up for coffee, a local happy hour, or a walk on the beach. We learn faster when we use language in-person!</p>
                <p class="subtitle-horizontal">Meet up for coffee, a local happy <br>hour, or a walk on the beach. <br>We learn faster when we use <br>language in-person!</p>
              </div>
            </div>
          </div>
      </div>

      <%# Third Slide %>

      <div class="row row3">
        <div class="left">
          <p>Language creates stories...</p>
          <button id="hide">
            <a href="https://hashtaglanguage.typeform.com/to/n4QlYc" id="second_link">Sign me up!</a>
          </button>
        </div>
        <div class="right">
          <div class="container">

              <div class="heading">
                <p class="title-vertical">Matt's first <span class="bold">exchange</span> in <br><span class="bold">Los Angeles</span>!</p>
                <p class="title-horizontal">Matt's first <span class="bold">exchange</span> in <span class="bold">Los Angeles</span>!</p>
              </div>

              <div class="center">
                <div class="image_container">
                  <img src="../assets/Mateo.png" alt="">
                  <p class="name">Matt</p>
                </div>
                <div class="icon">
                  <i class="fas fa-retweet fa-2x"></i>
                </div>
                <div class="icon" id="mobile_icon">
                  <i class="fas fa-retweet fa-sm"></i>
                </div>
                <div class="image_container">
                  <img src="../assets/Amaranta.png" alt="">
                  <p class="name">Amaranta</p>
                </div>
              </div>

              <div class="bottom_text">
                <p>
                  “Practicing Spanish with Amaranta was awesome! We went for <span class="bold">tacos and margaritas</span> in Downtown while practicing <span class="bold">Spanish for English</span>. 11/10 - would do it again!”
                </p>
              </div>

          </div>

          <div class="row3_bottom_hidden_button">
            <button>
              <a href="https://hashtaglanguage.typeform.com/to/n4QlYc" id="third_link">Sign me up!</a>
            </button>
          </div>

        </div>
      </div>

      <%# Fourth Slide %>
      <div class="row row4">

        <%# Top %>
        <div class="top">
          <div class="heading">
            <p>Here's how it works</p>
          </div>
        </div>

        <%# Bottom %>
        <div class="bottom">
          <div class="col col1">
            <div class="HIW_col_top" id="hide">
              <button>
                <a href="https://hashtaglanguage.typeform.com/to/n4QlYc" id="fourth_link">Sign me up!</a>
              </button>
            </div>
            <div class="line1">
              <p>Sign Up</p>
            </div>
            <div class="line2">
              <p class="subtitle-vertical">Get connected to locals in our community that speak your target language.</p>
              <p class="subtitle-horizontal">Get connected to locals in <br>our community that speak <br>your target language.</p>
            </div>
          </div>
          <div class="col col2">
            <div class="HIW_col_top" id="screen_container">
              <img src="../assets/how-japanese.png" alt="" class="screen_images">
              <img src="../assets/how-korean.png" alt="" class="screen_images" id="second_image">
              <img src="../assets/how-spanish.png" alt="" class="screen_images" id="third_image">
            </div>
            <div class="line1" id="first">
              <p>Discover</p>
            </div>
            <div class="line2">
              <p class="subtitle-vertical">Search or create language exchanges that work for you!</p>
              <p class="subtitle-horizontal">Search or create language <br>exchanges that work for <br>you!</p>
            </div>
          </div>
          <div class="col col3">
            <div class="HIW_col_top" id="hide">
              <img src="../assets/Email.png" alt="">
            </div>
            <div class="line1">
              <p>Practice</p>
            </div>
            <div class="line2">
              <p class="subtitle-vertical">Practice your second language with fluent or native speakers during your coffee break!</p>
              <p class="subtitle-horizontal">Practice your second <br>language with fluent or <br>native speakers during your <br>coffee break!</p>
            </div>
          </div>
        </div>
      </div>

      <%# Fifth Slide %>
      <div class="row row5">
        <div class="bottom_page_content">
          <div class="row5_top">
            <p class="title-vertical">
              Ready to practice Spanish while eating some tacos?
            </p>
            <p class="title-horizontal">
              Ready to practice Spanish <br>while eating some tacos?
            </p>
          </div>
          <div class="row5_bottom">
            <button>
              <a href="https://hashtaglanguage.typeform.com/to/n4QlYc" id="fifth_link">Sign me up!</a>
            </button>
          </div>
        </div>
      </div>

      <footer class="footer">

          <a href="/">FAQ</a>
          <a href="/">Safety</a>
          <a href="/">Code of Conduct</a>
      </footer>

    </div>


  </body>
</html>
