<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Hashtag Language Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <%# <nav>
      <ul class="nav_items">
        <li>
          <img src="../assets/fireworks.png" alt="">
        </li>
        <li><a href="#">Join</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>%>

    <div class="main-column">

      <%# First Slide %>
      <div class="row row1">
          <p>Practice your second language with locals in Los Angeles!</p>
          <a href="#">Let's Go!</a>
      </div>

      <%# Second Slide %>
      <div class="row row2">

          <%# Top Content %>
          <div class="top">
            <div class="heading">
              <p>Learning a new language is better with friends!</p>
            </div>
          </div>
          <%# Bottom Content %>
          <div class="bottom">
            <div class="col col1">
              <img src="../assets/fireworks.png" alt="">
              <p class="line1">
                Share an experience
              </p>
              <p class="line2">
                Learning a new language takes time, but you should enjoy the adevnture to fluency!
              </p>
            </div>
            <div class="col col2">
              <img src="../assets/support.png" alt="">
              <p class="line1">
                Gain confidence with community
              </p>
              <p class="line2">
                Get connected online and offline with locals in our community that speak your target language!
              </p>
            </div>
            <div class="col col3">
              <img src="../assets/coffee-cup.png" alt="">
              <p class="line1">
                Learn naturally in-person
              </p>
              <p class="line2">
                Learn your second language by using it with fluent or native speakers over coffee, at a bar, or on a hike!
              </p>
            </div>
          </div>


      </div>

    </div>


  </body>
</html>
